#btnDangNhap{
	-fx-background-color: #07afff;
}

.txt{
	-fx-border-color: black;
	-fx-border-width: 1.0;         
	-fx-border-radius: 5.0;        
	-fx-background-radius: 5.0;
}

.pnl{
	-fx-background-color: #ffffff;
}

.hbox_decorate {
    -fx-background-color: #ffffff;     
    -fx-border-color: darkgray;                             
    -fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.1), 5.0, 0.0, 0.0, 2.0); 
    -fx-border-radius:10.0;
	-fx-background-radius: 10.0;
}

.boTren {
    -fx-background-color: white;
    -fx-background-radius: 10 10 0 0; 
    -fx-background-insets: 0;

    -fx-border-radius: 10 10 0 0;
    -fx-border-insets: 0;
}

.boDuoi {
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 10;
    -fx-background-insets: 0;

    -fx-border-radius: 0 0 10 10;
    -fx-border-insets: 0;
}