.btn{
	-fx-background-color: white;
	-fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 18, 0.5, 0, 0);
	-fx-border-radius: 8px;  
}

.btn:pressed{
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
	-fx-transition: all 0.1s ease;
}

.tbl{
	-fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8.0px;
    -fx-background-radius: 8.0px;
    -fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.15), 6.0, 0.0, 0.0, 2.0);
    -fx-padding: 5.0;
}

.tbl .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #90caf9 transparent;
    -fx-border-width: 0.0 0.0 2.0 0.0;
}

.tbl .column-header {
    -fx-background-color: transparent;
}

.tbl .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-font-size: 13.0px;
    -fx-padding: 8.0 0.0 8.0 8.0;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0.1, 0, 1);
}

.text-field:focused {
    -fx-border-color: #3b82f6; /* xanh dương nhạt */
    -fx-background-color: #f8fafc;
    -fx-effect: dropshadow(gaussian, rgba(59,130,246,0.3), 8, 0.3, 0, 0);
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;     
    -fx-border-radius: 8;          
    -fx-background-radius: 8;
    -fx-padding: 3 3 3 3;                
}

.combo-box:hover {
    -fx-border-color: #3b82f6;    
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0.5, 0, 1);
}

.combo-box:focused {
    -fx-border-color: #3b82f6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.5, 0, 2);
}

.combo-box .list-cell {
    -fx-padding: 5 10 5 10;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.img{
	-fx-background-color: #e5e7eb;   
   -fx-background-radius: 8;        
   -fx-border-radius: 8;
   -fx-border-color: transparent;   
   -fx-min-width: 150;              
   -fx-min-height: 150;
   -fx-alignment: center;
}